body 
{
  background-color: #f2f4f6;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family:  GloriaHallelujah;
  font-size: 20px;
}

a
{
	text-decoration: none;
}

header
{

	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 14%;
	background-color: rgb(235, 232, 232);
	
	/*
	text-indent: 10%;
	font-size: 24px;
	vertical-align: middle;
	*/
}

.title-page
{
	position: absolute;
	top: 25%;
	left: 10%;
	font-size: 26px;
}

.left-container
{
	position: fixed;
	top: 20%;
	left: 10%;

	width: 30%;
	height: 60%;
}

.right-container
{
	position: absolute;
	top: 20%;
	left: 36%;

	width: 60%;
	height: 100%;

	background-color: rgb(235, 232, 232);
}


@font-face 
{ 
	font-family: IndieFlower; 
	src: url('../fonts/Indie_Flower/IndieFlower.ttf'); 
}

@font-face 
{ 
	font-family: Bree_Serif; 
	src: url('../fonts/Bree_Serif/BreeSerif-Regular.ttf'); 
}

@font-face 
{ 
	font-family: GloriaHallelujah; 
	src: url('../fonts/Gloria_Hallelujah/GloriaHallelujah.ttf'); 
}

@font-face 
{ 
	font-family: PermanentMarker-Regular; 
	src: url('../fonts/Permanent_Marker/PermanentMarker-Regular.ttf'); 
}
