/*GENERAL PROPERTIES*/

body 
{

  font-family:  "Open Sans", Helveltica, Arial, sans-serif;
  color: #4d4d4d;

}

h1,h2,h3,h4,h5,h6
{
	margin: 0;
	font-family:  Bree_Serif, "Open Sans", Helveltica, Arial, sans-serif;
	/*font-weight: 700; ????*/
}

a
{
	text-decoration: none;
	font-family:  Bree_Serif, "Open Sans", Helveltica, Arial, sans-serif;
}

ul
{
	list-style: none;
}

.page-container
{
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
  	justify-content: space-between
}
/* MOBILE PROPERTIES*/
/*INDEX PAGE*/
/*HEADER*/

nav
{
	display: flex; /* update for other navs*/
	flex-direction: column;
	align-items: center;
	background-color: #4d4d4d;
}

nav > a
{
	color: #f1f1f1;
	font-weight: 700;
	font-size: 22px;
}

nav ul
{
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

nav ul li
{
	text-align: center;
	width: 100%;
}

nav ul li a
{
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	color: #f1f1f1;
}

#image-background
{
	background-image: url("../img/forest-haze-hd-wallpaper-39811.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #f1f1f1;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px; 

}

#image-background p
{
	margin: 2em;
}

.button
{
	background-color: #004d1a;
	/*text-decoration: none;*/
	padding: 10px 30px;
    font-size: .9em;
    border-radius: 3px;
   	color: #f1f1f1; 
   	font-family:  Bree_Serif, "Open Sans", Helveltica, Arial, sans-serif;
}



/* ABOUT ONTOLOGY SECTION*/

#about-ontology
{
	display: flex;
	flex-direction: column;
	align-items: justify;
	padding: 1%;
}

#about-ontology div
{
	background-color: #e6e6e6;
	padding: 2%;
	margin: 10px;
    border-style: none;
    border-radius: 3px;

}

#about-ontology p
{
	text-align: justify;
}


#description-ontology
{
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description-ontology div 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border-style: none;
    border-radius: 3px;
    background-color: #e6e6e6;
    padding: 2%;

}

.icon-description-ontology
{ 
	width: 100px;
	height: 100px;
}

/* FOOTER */

footer 
{
    text-align: center;
    padding: 10px;
    background-color: #4d4d4d;
    color: #f1f1f1;
    font-size: 12px;
}

footer a
{
	color: #f1f1f1;
	font-weight: bold;
	font-style: italic;
}

/*DOCUMENTATION PAGE*/


#documentation-text
{
	padding: 2%;

}

#documentation-text p
{
	text-align: justify;
}

/*PREVIEW PAGE*/

#code
{
	padding: 2%;
}

/* DOWNLOAD PAGE*/

.download-box
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1%;
	align-items: center;
}

.download-box div
{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e6e6e6;
	padding: 2%;
	margin: 10px;
    border-style: none;
    border-radius: 3px;
}

/* PAGE DEVELOPERS*/

.developers-data
{
    display: flex;
	flex-direction: column;
	padding: 1%;
	
}
.developers-data div
{
    display: flex;
	flex-direction: column;
	justify-content: inherit;
	background-color: #e6e6e6;
	padding: 2%;
	margin: 10px;
    border-style: none;
    border-radius: 3px;
}

.image-top
{
    display: flex;
	flex-direction: column;
	padding: 1%;
	
}
.image-top div
{
    display: flex;
	flex-direction: column;
}


/* DESKTOP PROPERTIES*/
/* MEDIA QUERIES*/

@media screen and (min-width: 768px)
{

	header nav
	{
		flex-direction: row;
		justify-content: space-around;
	}

	header nav ul
	{
		flex-direction: row;
		width: 70%;
	}

	#image-background
	{
		height: 600px;
		height: 60vh;
		justify-content: center;

	}

	#about-ontology
	{
		
	}

	#about-ontology div
	{
		
	}

	#about-ontology p
	{
		text-align: justify;
	}

    #description-ontology
	{
		flex-direction: row;
		justify-content: center;
	}

	#description-ontology div
	{
		
	}

	#documentation-container
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 1%;
	}

	#documentation-bar
	{
		display: flex;

	}

	#documentation-bar nav
	{
		display: flex;
		border-style: none;
		border-radius: 3px;
		
	}

	#documentation-bar nav ul
	{
		display: flex;
		flex-direction: column;

	}

	#documentation-bar nav ul li
	{
		padding: 2%;
		margin: 10px;
	}

	#documentation-bar nav ul li a
	{
		
	}

	#documentation-text
	{
		display: flex;
		flex-direction: column;
		background-color: #f1f1f1;
		border-radius: 3px;
		padding: 2%;
		margin-left: 10px;

  		overflow-y:scroll;
  		max-height: 500px;
	}

	/* scrollbar style */
	/*
	::-webkit-scrollbar 
	{
	   width: 14px;
	  
	}

	::-webkit-scrollbar-track 
	{
	  background: #e6e6e6;

	}

	::-webkit-scrollbar-thumb 
	{
	  background: #4d4d4d; 
	  border-radius: 3px;

	}

	::-webkit-scrollbar-thumb:hover 
	{
	  background: rgb(102, 102, 102); 
	}
	*/

	/* DOCUMENTATION PAGE - BAR */
	/*
	#documentation-container
	{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 1%;
	}

	#documentation-bar
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

	}

	#documentation-bar nav
	{
		display: flex;
		flex-direction: column;
		padding: 2%;
		align-items: center;

	}

	#documentation-bar nav ul
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#documentation-text
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		background-color: #f1f1f1;
		border-radius: 3px;
		padding: 2%;
		margin-left: 10px;
	}
	*/
	#documentation-text p
	{
		text-align: justify;
	}

}

@font-face 
{ 
	font-family: Bree_Serif; 
	src: url('../fonts/Bree_Serif/BreeSerif-Regular.ttf'); 
}

